<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Motos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="cinza">
  <ion-searchbar placeholder="Busca"></ion-searchbar>

  <ion-grid class="ion-text-center ion-no-padding">

    <ion-row class="ion-no-padding">

      <ion-col class="ion-no-padding">
        <ion-card>
          <img src="https://www.moto.com.br/img/2019/06/26/img154550-1561571913-v580x435.jpg"
           alt="moto">
           <ion-item lines="none" class="ion-no-padding">
             <ion-label>
              BMW motorrad R 1250 GS
             </ion-label>
           </ion-item>
           <ion-item lines="none" class="ion-no-padding">
            <ion-note slot="end" color="dark">R$ <span>117.500,00</span></ion-note>
           </ion-item>
        </ion-card>
      </ion-col>

      <ion-col class="ion-no-padding">
        <ion-card>
          <img src="https://i.pinimg.com/originals/72/f9/5a/72f95aa239f32e48ce85f200fc0c64ad.jpg"
           alt="moto">
           <ion-item lines="none" class="ion-no-padding">
             <ion-label>
              BMW s 1000 RR
             </ion-label>
           </ion-item>
           <ion-item lines="none" class="ion-no-padding">
            <ion-note slot="end" color="dark">R$ <span>113.500,00</span></ion-note>
           </ion-item>
        </ion-card>
      </ion-col>

      <ion-col class="ion-no-padding">
        <ion-card>
          <img src="https://i.pinimg.com/736x/b0/35/c9/b035c94c12afc80a3b4575ad1c659a1a.jpg"
           alt="moto">
           <ion-item lines="none" class="ion-no-padding">
             <ion-label>
              Yamaha XT 660R
             </ion-label>
           </ion-item>
           <ion-item lines="none" class="ion-no-padding">
            <ion-note slot="end" color="dark">R$ <span>31.990,00</span></ion-note>
           </ion-item>
        </ion-card>
      </ion-col>

      <ion-col class="ion-no-padding">
        <ion-card>
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT_bNy0ncLYMt81dh4JnX0qmiis3myIT0gHFA&usqp=CAU"
           alt="moto">
           <ion-item lines="none" class="ion-no-padding">
             <ion-label>
              Ducati Hypermotard
             </ion-label>
           </ion-item>
           <ion-item lines="none" class="ion-no-padding">
            <ion-note slot="end" color="dark">R$ <span>47.566,00</span></ion-note>
           </ion-item>
        </ion-card>
      </ion-col>

      <ion-col class="ion-no-padding">
        <ion-card>
          <img src="https://i.ytimg.com/vi/OV7Qhzu6z7w/hqdefault.jpg"
           alt="moto">
           <ion-item lines="none" class="ion-no-padding">
             <ion-label>
              Kawasaki Z300
             </ion-label>
           </ion-item>
           <ion-item lines="none" class="ion-no-padding">
            <ion-note slot="end" color="dark">R$ <span>18.890,00</span></ion-note>
           </ion-item>
        </ion-card>
      </ion-col>

      <ion-col class="ion-no-padding">
        <ion-card>
          <img src="https://a-static.mlcdn.com.br/618x463/protetor-de-motor-xj6-slider-stunt-cage-xj6-2010-em-diante-stunt-race-brasil/afermixecommerce/54975f48583611ebbee84201ac1850d6/561f53a027ce4078249de3a1f4e4d563.jpg"
           alt="moto">
           <ion-item lines="none" class="ion-no-padding">
             <ion-label>
              Yamaha XJ6
             </ion-label>
           </ion-item>
           <ion-item lines="none" class="ion-no-padding">
            <ion-note slot="end" color="dark">R$ <span>31.990,00</span></ion-note>
           </ion-item>
        </ion-card>
      </ion-col>

      <ion-col class="ion-no-padding">
        <ion-card>
          <img src="http://www.motorcyclespecs.co.za/Gallery%20B/BMW%20G%20650GS%2011.jpg"
           alt="moto">
           <ion-item lines="none" class="ion-no-padding">
             <ion-label>
              BMW G 650 GS
             </ion-label>
           </ion-item>
           <ion-item lines="none" class="ion-no-padding">
            <ion-note slot="end" color="dark">R$ <span>32.876,00</span></ion-note>
           </ion-item>
        </ion-card>
      </ion-col>

      <ion-col class="ion-no-padding">
        <ion-card>
          <img src="https://cdn.motor1.com/images/mgl/POYPr/s1/honda-xre-300-2022.jpg"
           alt="moto">
           <ion-item lines="none" class="ion-no-padding">
             <ion-label>
              Honda XRE 300
             </ion-label>
           </ion-item>
           <ion-item lines="none" class="ion-no-padding">
            <ion-note slot="end" color="dark">R$ <span>16.190,00</span></ion-note>
           </ion-item>
        </ion-card>
      </ion-col>


    </ion-row>
  </ion-grid>
</ion-content>
